@import "tailwindcss";
body {
  font-family: 'Playfair Display', serif;
  background-color: #fef3f3; /* soft rose */
  color: #4b2e2e;            /* dark chocolate text */
}

.luxury-text {
  color: #8B4513; /* SaddleBrown */
}

.gold-accent {
  background-color: #FFD700; /* Gold */
}